body {
  font-family: 'Lato', sans-serif;
}

hr {
  height: 5px;
  border-width:0;
  color:#7d97ad;
  background-color:#7d97ad;
  margin: 30px 0;
}

.container {
  padding: 20px;
}

.thin-text {
  font-weight: 100;
}

.featured-work {
  width: 400px;
}

text-muted {
  color: #7d97ad;
}

.featured-img {
  padding-bottom: 30px;
}
